.maindiv{

	color:red;
}

.container_width{

	width:250px;
	text-align: center;
	margin:20px;
}
.display{
	display:inline-block;
}
.disp-text{
	text-align: center;
}
a{
	color:#fff;
	text-decoration: none;
}